@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

/* navbar ========================================================*/
.navbar {
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: 'ubuntu', sans-serif;
    transition: all 0.3s ease;

}

.navbar.sticky {
    padding: 15px 0;
    background: crimson;
    color: white;
}

.navbar.sticky .logo a span {
    color: white;
}

.navbar.sticky .menu li a:hover {
    color: white;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: white;
    font-size: 35px;
    font-weight: 600;
    /* margin-left: -60px; */
}

.navbar .logo a span {
    color: crimson;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    color: whitesmoke;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
}

.navbar .menu li a:hover {
    color: crimson;
}




/* menu-bar */
.menu-btn {
    color: white;
    font-size: 23px;
    cursor: pointer;
    display: none;
}



/* home-section =====================================================*/
.home {
    display: flex;
    background-color: rgb(65, 65, 65);
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'ubuntu', sans-serif;

}

.home .max-width {
    margin: auto 0 auto 40px;
    width: 100%;
    display: flex;

}

.home .home-content .text-1 {
    font-size: 27px;
    margin-left: 10px;
}

.home .home-content .text-2 {
    font-size: 60px;
    font-weight: 500;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 40px;
    font-weight: 300;
    margin-left: -3px;
}

.home .home-content .text-3 span {
    margin-left: -3px;
    color: crimson;
    font-weight: 300;
}


/* about section ======================================== */
section {
    padding: 100px 0
}

.about,
.contact, footer{
    font-family: 'Poppins', sans-serif;
}

.title {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'ubuntu', sans-serif;
}

.about .about-content .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 5px;
}

.about .about-content,
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .left {
    width:45%;
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right p {
    text-align: justify;
    font-size: 20px;
}

.about .about-content .right a {
    font-size: 20px;
    display: inline-block;
    background-color: crimson;
    color: #fff;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover {
    color: crimson;
    background: none;

}


/* skills-section============================================== */
.skills .title {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: 'ubuntu', sans-serif;
}

.skills .title.tool {

    font-size: 25px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;

}

.skills .tools a {
    padding: 10px 10px;
    background: black;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
}


/* contact section */

.contact{
    background: whitesmoke;
}

.contact .contact-content .column {
    width: calc(50% - 30px);
}

.contact .contact-content .left{
    width:25%;
}
.contact .contact-content .right{
    width:65%;
}
/* .contact .contact-content .left .text{
    margin-bottom: 70px;
} */

.contact .contact-content .text {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left .icons {
    margin: 10px 0;
    color: crimson;
}

.contact .contact-content .rows {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .rows .git {
    margin-left: 30px;
}

.contact .contact-content .rows i {
    font-size: 35px;
}

.contact .contact-content .git .head {
    font-size: 20px;
    font-weight: 500;
    color: #111;
}

.contact .contact-content .git .sub-title a {
    color: #333;
}

.contact .right form .fields {
    display: flex;
}

.contact .right form .field,
.contact .right form .field .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .textarea {
    height: 80px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.contact .right form .name {
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.contact .right form .email {
    margin-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

.contact .right form .field input {
    height: 100%;
    width: 100%;
}

.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

.contact .right form .button {
    height: 47px;
    width: 170px;
}

.contact .right form .button button {
    width: 100%;
    height: 100%;
    border: 2px solid crimson;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.contact .right form .button button:hover {
    color: crimson;
    background: none;
}

.scroll-up{
    position: fixed;
    height: 45px;
    width: 42px;
    background-color: crimson;
    right: 30px;
    text-align: center;
    bottom: 10px;
    color: #fff;
    line-height: 45px;
    z-index: 9999;
    font-size: 30px;
    cursor: pointer;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}






/* footer section  */
footer{
    background: crimson;
    padding: 20px 23px;
    color: #fff;
    text-align: center;
 
}

footer span a{
    color:black;
}



@media (max-width: 1300px) {
    .home .max-width {
        margin-left: 0px;
    }
}

@media (max-width: 1104px) {
    .about .about-content .left img {
        height: 350px;
        width: 350px;
        object-fit: cover;

    }
}

@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
}

@media (max-width: 947px) {
    .max-width {
        padding: 0 50px;
    }

    .menu-btn {
        display: block;
        z-index: 999;
    }

    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active {
        left: 0%;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .home .home-content .text-2 {
        font-size: 70px;
    }

    .home .home-content .text-3 {
        font-size: 35px;
    }

    .about .about-content .column {
        width: 50%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .max-width {
        max-width: 800px;
    }


    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px;
    }

}

@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }

    .home .home-content .text-2 {
        font-size: 60px;
    }

    .home .home-content .text-3 {
        font-size: 32px;
    }
}

@media (max-width: 500px) {


    .home .home-content .text-2 {
        font-size: 50px;
    }

    .home .home-content .text-3 {
        font-size: 27px;
    }
}